# Logs
logs
*.log
npm-debug.log*

# Build artefacts
dist/
demo/dist

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# node-waf configuration
.lock-wscript

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
